.cosmo-turquoise
{color:#fff;background-color:#1abc9c}
.cosmo-emerald
{color:#fff;background-color:#2ecc71}
.cosmo-river
{color:#fff;background-color:#3498db}
.cosmo-amethyst
{color:#fff;background-color:#9b59b6}
.cosmo-asphalt
{color:#fff;background-color:#34495e}
.cosmo-green-sea
{color:#fff;background-color:#16a085}
.cosmo-nephritis
{color:#fff;background-color:#27ae60}
.cosmo-belize-hole
{color:#fff;background-color:#2980b9}
.cosmo-wisteria
{color:#fff;background-color:#8e44ad}
.cosmo-midnight-blue
{color:#fff;background-color:#2c3e50}
.cosmo-sun-flower
{color:#fff;background-color:#f1c40f}
.cosmo-carrot
{color:#fff;background-color:#e67e22}
.cosmo-alizarin
{color:#fff;background-color:#e74c3c}
.cosmo-clouds
{color:#000;background-color:#ecf0f1}
.cosmo-concrete
{color:#fff;background-color:#95a5a6}
.cosmo-orange
{color:#fff;background-color:#f39c12}
.cosmo-pumpkin
{color:#fff;background-color:#d35400}
.cosmo-pomegranate
{color:#fff;background-color:#c0392b}
.cosmo-silver
{color:#000;background-color:#bdc3c7}
.cosmo-asbestos
{color:#fff;background-color:#7f8c8d}
